body {
    font-family: 'Shadows Into Light', cursive;
    margin: 8px;
    position: relative;
    height: 100vh;
    background-color: white;
}

header {
    width: 100%;
    position: relative;
    top: 12px;
}

h1 {
    letter-spacing: 0.2em;
    margin-left: 8px;
    text-align: center;
}

nav {
    position: absolute;
    right: 30px;
    bottom: 10px;
    font-size: 1.3em;
}

button.toggle-dark-mode {
    color: inherit;
    background-color: inherit;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    border: 2px solid;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.0em;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 32px 16px;
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    background-color: inherit;
    align-items: center;
    justify-content: center;
}

section .img-anchor {
    display: flex;
    justify-content: center;
    align-items: center;
}

section img {
    height: calc(20vw - 20px);
    width: calc(20vw - 20px);
    border-radius: 8px;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 1;
}


img:hover {
    opacity: 0.85;
    cursor: pointer;
    transform: scale(1.075);
}

footer {
    background-color: inherit;
    height: 48px;
    width: 100vw;
    position: absolute;
    left: -8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Spectral', serif;
}

.dark {
    background-color: black;
    color: white;
}

@media screen and (max-width: 1640px) {
    section {
        width: 30vw;
        height: 30vw;
    }

    section img {
        width: calc(30vw - 20px);
        height: calc(30vw - 20px);
    }

@media screen and (max-width: 1290px) {
    section {
        width: 45vw;
        height: 45vw;
    }

    section img {
        width: calc(45vw - 20px);
        height: calc(45vw - 20px);
    }

    h1 {
        text-align: left;
    }
}

@media screen and (max-width: 824px) {
    section {
        width: 85vw;
        height: 85vw;
    }

    section img {
        width: calc(85vw - 20px);
        height: calc(85vw - 20px);
    }

    h1 {
        text-align: left;
        margin-left: 8px;
    }

    .change-theme {
        display: none;
    }

    button.toggle-dark-mode {
        width: 60px;
        height: 60px;
    }

    button.toggle-dark-mode::after {
        content: "theme"
    }

    nav {
        bottom: -12px;
        right: 17.97px;
    }
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 5vw;
    }

    nav {
        right: 3vw;
        bottom: -10px;
    }

    button.toggle-dark-mode {
        width: 10vw;
        height: 10vw;
        font-size: 3.4vw;
        font-weight: bold;
    }

    section {
        width: 85vw;
        height: 85vw;
    }

    section img {
        width: calc(85vw - 20px);
        height: calc(85vw - 20px);
    }


@media screen and (max-width:500px) {
    button.toggle-dark-mode {
        font-size: 3.0vw;
    }
}

@media screen and (max-width:400px) {
    button.toggle-dark-mode {
        font-size: 2.6vw;
    }
}
